<!-- <p>character-description works!</p> -->
<nav>
  <a routerLink="">Home</a>

  <a [routerLink]="['/episodes', 1]">Episodes</a>

  <a [routerLink]="['/characters', 1]">Characters</a>

  <a [routerLink]="['/locations', 1]">Locations</a>
</nav>

<!-- <div>Character Id: {{ charDescription.id }}</div> -->
<br />
<div>{{ charDescription.name }}</div>

<div>
  <img src="{{ imageUrl }}" alt="{{ charDescription.name }}" />
</div>

<div>Status: {{ charDescription.status }}</div>
<div>Species: {{ charDescription.species }}</div>
<div>Type: {{ charDescription.type }}</div>
<div>Gender: {{ charDescription.gender }}</div>

<div *ngIf="charDescription.origin != null">
  <div>
    Origin:
    <app-location-link
      [locUrl]="charDescription.origin['url']"
    ></app-location-link>
  </div>
</div>

<div *ngIf="charDescription.location != null">
  <div>
    Location:
    <app-location-link
      [locUrl]="charDescription.location['url']"
    ></app-location-link>
  </div>
</div>

<br />
<div>Episodes:</div>

<app-episode-link
  *ngFor="let epUrl of charDescription.episode"
  [epUrl]="epUrl"
></app-episode-link>
