<nav>
  <a routerLink="">Home</a>

  <a [routerLink]="['/episodes', 1]">Episodes</a>

  <a [routerLink]="['/characters', 1]">Characters</a>

  <a [routerLink]="['/locations', 1]">Locations</a>
</nav>

<br />

<app-episode-link
  *ngFor="let result of episodes.results"
  [epUrl]="result.url"
></app-episode-link>

<!-- <div *ngFor="let results of episodes.results; index as i">
  <br />
</div> -->

<br />
<div *ngIf="episodes.info != null">
  Page: {{ pageNum }} out of {{ episodes.info.pages }}
  <br />
  <a *ngIf="pageNum > 1" [routerLink]="['/episodes', pageNum - 1]">Prev Page</a>
  <br />
  <a
    *ngIf="pageNum < episodes.info.pages"
    [routerLink]="['/episodes', pageNum + 1]"
    >Next Page</a
  >
</div>
