<nav>
  <a routerLink="">Home</a>

  <a [routerLink]="['/episodes', 1]">Episodes</a>

  <a [routerLink]="['/characters', 1]">Characters</a>

  <a [routerLink]="['/locations', 1]">Locations</a>

  <a routerLink="/favorites">Favorites</a>
</nav>

<br />
<h2>Welcome to the Rickdiculous Mortydom!</h2>
<h5>To be fair, you need a very high IQ to understand Rick and Morty.</h5>
<br />

<nav>
  Search for:
  <br />
  <a [routerLink]="['/epSearch', 1, '', '']">Episodes</a>
  <a [routerLink]="['/charSearch', 1, '', '', '', '', '']">Characters</a>
  <a [routerLink]="['/locSearch', 1, '', '', '']">Locations</a>
</nav>
