<!-- <p>favorites-page works!</p> -->

<nav>
  <a routerLink="">Home</a>

  <a [routerLink]="['/episodes', 1]">Episodes</a>

  <a [routerLink]="['/characters', 1]">Characters</a>

  <a [routerLink]="['/locations', 1]">Locations</a>

  <a routerLink="/favorites">Favorites</a>
</nav>

<br />

<br />

Favorite Episodes:

<br />
<div>
  <br />
  <app-episode-link
    *ngFor="let epUrl of favEps"
    [epUrl]="epUrl"
  ></app-episode-link>
</div>
<br />

<br />
Favorite Characters:
<br />
<div>
  <br />
  <app-character-link
    *ngFor="let charUrl of favChars"
    [charUrl]="charUrl"
  ></app-character-link>
</div>
<br />

<br />
Favorite Locations:
<br />
<div>
  <br />
  <app-location-link
    *ngFor="let locUrl of favLocs"
    [locUrl]="locUrl"
  ></app-location-link>
</div>
