<nav>
  <a routerLink="">Home</a>

  <a [routerLink]="['/episodes', 1]">Episodes</a>

  <a [routerLink]="['/characters', 1]">Characters</a>

  <a [routerLink]="['/locations', 1]">Locations</a>

  <a routerLink="/favorites">Favorites</a>
</nav>

<!-- <p>location-description works!</p> -->

<br />

<div>Location Name: {{ locDescription.name }}</div>
<div>Type: {{ locDescription.type }}</div>
<div>Dimension: {{ locDescription.dimension }}</div>
<div>Date Created: {{ locDescription.created }}</div>

<button (click)="addFav()">❤️</button>

<div>
  Residents:
  <br />
  <app-character-link
    *ngFor="let charUrl of locDescription.residents"
    [charUrl]="charUrl"
  ></app-character-link>
</div>
